numpy==1.19.1
opencv-python==3.4.8.29
Pillow
scikit-image==0.14.5
scikit-learn==0.23.1
scipy==1.2.1
sklearn==0.0
tensorboardX
torch>=1.0.0
torchvision
Cython==0.29.32
seaborn==0.12.1
#apt-get install gcc libpq-dev -y
#apt-get install gfortran libopenblas-dev liblapack-dev
numpydoc==1.5.0
scikit-image==0.14.5
progress==1.6
pytorch_ssim==0.1
